<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
        <link href="/css/main.css" type="text/css" rel="stylesheet">
        <link href="/css/forms.css" type="text/css" rel="stylesheet">
        <link href="/css/navigation.css" type="text/css" rel="stylesheet">
        <link href="/css/responsive.css" type="text/css" rel="stylesheet">
        <link href="/css/all.css" >
    </head>
    <body>