<%- include('./includes/header.ejs') %> <%-include('./includes/top-bar.ejs') %>
<div class="container style-1">
  <div class="error-page">
    <div class="grid">
      <h1>ERROR</h1>
      <p>Something went wrong, make sure from your action</p>
      <a href="/">back</a>
    </div>
  </div>
</div>
<%- include('./includes/end.ejs') %>
