@font-face {
  font-family: 'UbuntuM';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf"); }

@font-face {
  font-family: 'UbuntuR';
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf"); }

@font-face {
  font-family: 'UbuntuB';
  src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf"); }

@font-face {
  font-family: 'NotoSans';
  src: url("../fonts/Noto_Sans_KR/NotoSansKR-Medium.otf"); }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 0; }

.style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.style-1::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #212d40;
  height: 10px !important; }

.container {
  width: 100%;
  float: left;
  background: #ffffff;
  min-height: 92.4vh;
  max-height: 92.4vh; }
  .container .grid {
    width: 85%;
    margin: auto; }

.main-backgournd {
  width: 80%;
  float: left;
  max-height: 92.4vh;
  overflow-y: auto;
  min-height: 92.4vh;
  padding-bottom: 50px; }
  .main-backgournd .page-title {
    width: 100%;
    float: left;
    padding: 15px 0; }
    .main-backgournd .page-title h1 {
      color: #316672;
      font-family: NotoSans;
      font-size: 26px; }
  .main-backgournd .page-content {
    width: 100%;
    float: left; }
    .main-backgournd .page-content .welcome-header {
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 10px 15px; }
      .main-backgournd .page-content .welcome-header h1 {
        font-size: 14px;
        font-family: UbuntuR;
        color: #5d5d5d; }
    .main-backgournd .page-content .statistic-box {
      width: 31.3%;
      float: left;
      margin: 30px 9px;
      min-height: 150px;
      height: 100%;
      max-height: 150px;
      border-radius: 4px;
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
      color: #ffffff;
      font-family: NotoSans;
      text-align: center;
      position: relative;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      z-index: 1; }
      .main-backgournd .page-content .statistic-box h1 {
        padding: 20px 0; }
    .main-backgournd .page-content .box-1 {
      background: -webkit-gradient(linear, left top, right top, from(#316672), to(#316672));
      background: -webkit-linear-gradient(left, #316672, #316672);
      background: -o-linear-gradient(left, #316672, #316672);
      background: linear-gradient(90deg, #316672, #316672); }
      .main-backgournd .page-content .box-1::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, right top, from(#2d7382), to(#6b4ee6));
        background: -webkit-linear-gradient(left, #2d7382, #6b4ee6);
        background: -o-linear-gradient(left, #2d7382, #6b4ee6);
        background: linear-gradient(90deg, #2d7382, #6b4ee6);
        z-index: -1;
        -webkit-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        opacity: 0; }
      .main-backgournd .page-content .box-1:hover {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        .main-backgournd .page-content .box-1:hover::before {
          opacity: 1; }
    .main-backgournd .page-content .box-2 {
      background: -webkit-gradient(linear, left top, right top, from(#a5e65a), to(#a5e65a));
      background: -webkit-linear-gradient(left, #a5e65a, #a5e65a);
      background: -o-linear-gradient(left, #a5e65a, #a5e65a);
      background: linear-gradient(90deg, #a5e65a, #a5e65a); }
      .main-backgournd .page-content .box-2::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, right top, from(#a5e65a), to(#4ba82c));
        background: -webkit-linear-gradient(left, #a5e65a, #4ba82c);
        background: -o-linear-gradient(left, #a5e65a, #4ba82c);
        background: linear-gradient(90deg, #a5e65a, #4ba82c);
        z-index: -1;
        -webkit-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        opacity: 0; }
      .main-backgournd .page-content .box-2:hover {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        .main-backgournd .page-content .box-2:hover::before {
          opacity: 1; }
    .main-backgournd .page-content .box-3 {
      background: -webkit-gradient(linear, left top, right top, from(#d90080), to(#d90080));
      background: -webkit-linear-gradient(left, #d90080, #d90080);
      background: -o-linear-gradient(left, #d90080, #d90080);
      background: linear-gradient(90deg, #d90080, #d90080); }
      .main-backgournd .page-content .box-3::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, right top, from(#d90050), to(#d90080));
        background: -webkit-linear-gradient(left, #d90050, #d90080);
        background: -o-linear-gradient(left, #d90050, #d90080);
        background: linear-gradient(90deg, #d90050, #d90080);
        z-index: -1;
        -webkit-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        opacity: 0; }
      .main-backgournd .page-content .box-3:hover {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        .main-backgournd .page-content .box-3:hover::before {
          opacity: 1; }
    .main-backgournd .page-content .box-4 {
      background: -webkit-gradient(linear, left top, right top, from(#6b4ee6), to(#6b4ee6));
      background: -webkit-linear-gradient(left, #6b4ee6, #6b4ee6);
      background: -o-linear-gradient(left, #6b4ee6, #6b4ee6);
      background: linear-gradient(90deg, #6b4ee6, #6b4ee6); }
      .main-backgournd .page-content .box-4::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: -webkit-gradient(linear, left top, right top, from(#6b4ee6), to(#4c34b8));
        background: -webkit-linear-gradient(left, #6b4ee6, #4c34b8);
        background: -o-linear-gradient(left, #6b4ee6, #4c34b8);
        background: linear-gradient(90deg, #6b4ee6, #4c34b8);
        z-index: -1;
        -webkit-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        opacity: 0; }
      .main-backgournd .page-content .box-4:hover {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        .main-backgournd .page-content .box-4:hover::before {
          opacity: 1; }
    .main-backgournd .page-content .recent-activities {
      width: 100%;
      float: left;
      -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
      min-height: 280px; }
      .main-backgournd .page-content .recent-activities .activities-bar {
        width: 100%;
        float: left;
        padding: 10px 15px;
        border-bottom: 1px solid #ededed; }
        .main-backgournd .page-content .recent-activities .activities-bar h1 {
          font-size: 22px;
          font-family: NotoSans;
          color: #316672; }
      .main-backgournd .page-content .recent-activities .activity-list {
        width: 100%;
        float: left;
        overflow-y: auto;
        max-height: 225px;
        height: 225px; }
        .main-backgournd .page-content .recent-activities .activity-list .empty-activity {
          font-family: UbuntuM;
          font-size: 15px;
          color: #316672;
          text-align: center;
          padding: 50px 0; }
        .main-backgournd .page-content .recent-activities .activity-list ul {
          list-style: none; }
          .main-backgournd .page-content .recent-activities .activity-list ul li {
            padding: 10px 15px;
            border-bottom: 1px solid #e2e2e2; }
            .main-backgournd .page-content .recent-activities .activity-list ul li h2 {
              font-size: 15px;
              font-family: UbuntuR;
              margin-bottom: 10px;
              color: #6d6d6d; }
            .main-backgournd .page-content .recent-activities .activity-list ul li p {
              font-size: 12px;
              padding: 2px 10px;
              font-family: NotoSans;
              color: #4d4d4d; }
              .main-backgournd .page-content .recent-activities .activity-list ul li p span {
                color: #ea37a3; }
          .main-backgournd .page-content .recent-activities .activity-list ul li:nth-child(2n) {
            background: #e2e2e2; }

.table-container {
  width: 100%;
  float: left;
  -webkit-box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), 0 -18px 60px -10px rgba(0, 0, 0, 0.025);
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), 0 -18px 60px -10px rgba(0, 0, 0, 0.025);
  background: #fdfdfd;
  border: solid 1px #e7e6e6;
  border-radius: 10px;
  padding: 0px 0px; }
  .table-container .table {
    width: 100%;
    display: table; }
    .table-container .table .table-header {
      display: table-header-group;
      background: #6a888c; }
      .table-container .table .table-header .table-header-cell {
        border-bottom: 1px solid #d1d1d1;
        padding: 10px;
        display: table-cell;
        font-family: NotoSans;
        color: #ffffff;
        text-align: center;
        border-right: 1px solid #ededed; }
        .table-container .table .table-header .table-header-cell:first-child {
          border-top-left-radius: 10px; }
        .table-container .table .table-header .table-header-cell:last-child {
          border-top-right-radius: 10px; }
      .table-container .table .table-header .dec-cel {
        word-wrap: break-word !important;
        text-align: left; }
    .table-container .table .table-body {
      display: table-row-group; }
      .table-container .table .table-body .table-row {
        display: table-row; }
        .table-container .table .table-body .table-row .table-body-cell {
          padding: 10px;
          display: table-cell;
          font-family: UbuntuR;
          text-align: center;
          font-size: 14px;
          border-right: 1px solid #ededed;
          border-bottom: 1px solid #ededed; }
          .table-container .table .table-body .table-row .table-body-cell:last-child {
            border-right: 0; }
        .table-container .table .table-body .table-row .dec-cel {
          word-break: break-all;
          word-wrap: break-word;
          text-align: left; }
        .table-container .table .table-body .table-row:nth-child(odd) {
          background: #e1e1e1; }
  .table-container .empty-table {
    width: 100%;
    float: left;
    height: 100%;
    text-align: center;
    padding: 50px 25px;
    font-family: NotoSans;
    color: #6a888c; }

.error-page {
  width: 100%;
  float: left;
  height: 92.4vh;
  background: url("../images/waves-overlay.png") no-repeat fixed 100%;
  background-position: center;
  background-size: cover; }
  .error-page h1 {
    font-family: NotoSans;
    font-size: 55px;
    text-align: left;
    padding: 30px 0 15px 0;
    color: #201932; }
  .error-page p {
    font-family: NotoSans;
    font-size: 20px;
    text-align: left;
    color: #201932; }
  .error-page a {
    font-family: NotoSans;
    font-size: 14px;
    text-align: left;
    float: left;
    margin-top: 15px;
    color: #6b4ee6; }
